@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sansita+Swashed:wght@500&display=swap');

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(rgb(206, 26, 20), rgb(45, 155, 41));
}

/* ----- Start Page ------ */

.game-title {
    color: red;
    font-family: 'Sansita Swashed', cursive;
    font-size: 6em;
    text-align: center;
}


.memory-info {
    font-family: 'Sansita Swashed', cursive;
    color: darkgreen;
    font-size: 3em;
}

.memory-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.memory-container {
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(4, auto);
    margin: 60px;
    justify-content: center;
    perspective: 500px;
}

/* ----- Overlay -----*/

.overlay_text {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: darkgreen;
    font-family: 'Sansita Swashed', cursive;
}

.overlay_text.visible {
    display: flex;
    animation: zoomin 500ms forwards;
    flex-direction: column;
}

@keyframes zoomin {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .9);
        font-size: 11em;
    }
}

.overlay_text_small {
    font-size: .3em;
}


/* ----- Card ------ */

.memory_card {
    position: relative;
    height: 180px;
    width: 150px;
}

.memory-card-back {
     background-color: darkgreen;
     border-color: red;
}

.memory-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 600ms ease-in-out;
}

.memory_card.visible .memory-card-back {
    transform: rotateY(-180deg);
}

.memory_card.visible .memory-card-front {
    transform: rotateY(0);
}

.bell {
    position: absolute;
    display: flex;
    width: 100px;
}

.bell:hover {
  animation: dance 1s linear infinite 100ms;
  cursor: pointer;
  transform: translateY(0);
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}
    
.memory-card-front {
    background-color: red;
    border-color: darkgreen;
    transform: rotateY(180deg);
}

.christmas {
    position: relative;
    display: flex;
    width: 110px;
    height: 110px;
    transform: scale(.9);
    transition: all 1s ease-in-out;
}

.memory-card-front:hover .christmas {
    transform: scale(1);
}



/* ----- Matched ------ */

.memory_card.matched .christmas {
    animation: dance 1s linear infinite 600ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}


 @media (max-width: 600px) {
    .memory-container {
        grid-template-columns: 
        repeat(2, auto);
    }

    .memory-info-container {
        flex-direction: column;
        align-items: center;
    }
}
